
.markdown-source-view, .markdown-preview-view { max-width: 1000px; margin: auto; }

/* tag color */
.theme-dark .graph-view.color-fill-tag {
  color: rgba(122,93,58,0.7);
}
/* file color */
.theme-dark .graph-view.color-fill-attachment {
 color: rgba(198,134,24,0.8);
}
/* node color */
.graph-view.color-fill {
 color: rgba(255,172,31,0.8);
}
/* node hover color */
.graph-view.color-fill-highlight {
 color: rgba(22, 219, 101);
}
/* arrow color */
.graph-view.color-line {
 color: rgba(203, 243, 240,0.25);
}
/* arrow hover color */
.graph-view.color-line-highlight {
 color: rgba(203, 243, 240,0.25);
}
/* node focused */
.graph-view.color-fill-focused {
 color: rgba(171,255,0);
}
/* unresolved color */
.theme-dark .graph-view.color-fill-unresolved {
 color: rgb(239, 35, 0);
 Opacity:1;
}
